<div class="banner">
  <div class="banner-content">
    <div class="small-title">Leading the Way</div>
    <h1>25 Years of Business Growth</h1>
    <p>
      Link Development, the global technology solutions provider and an A15
      company...
    </p>
    <div class="buttons">
      <button class="btn btn-primary">Find Out More</button>
      <button class="btn-circle"><span class="triangle"></span></button>
      <span class="play-demo">Play Demo</span>
    </div>
  </div>
  <div class="banner-image">
    <img
      src="../../../../assets/images/placeholder.png"
      alt="Person with Backpack"
    />
  </div>
  <div class="slider-dots">
    <div class="dot pinkish"></div>
    <div class="separator"></div>
    <div class="dot green"></div>
    <div class="separator"></div>
    <div class="dot orange"></div>
  </div>
</div>
