<div class="banner">
  <div class="banner-content">
    <div
      class="small-title"
      *ngIf="slides[activeSlideIndex]"
      [style.color]="getColor(slides[activeSlideIndex].order)"
    >
      {{ slides[activeSlideIndex].category }}
    </div>
    <h1 *ngIf="slides[activeSlideIndex]">
      {{ slides[activeSlideIndex].title }}
    </h1>
    <p *ngIf="slides[activeSlideIndex]">{{ slides[activeSlideIndex].brief }}</p>
    <div class="buttons">
      <button class="btn btn-primary">Find Out More</button>
      <button class="btn-circle"><span class="triangle"></span></button>
      <span class="play-demo">Play Demo</span>
    </div>
    <div class="slider-dots">
      <div
        *ngFor="let slide of slides; let i = index"
        [ngClass]="{
          dot: true,
          active: i === activeSlideIndex
        }"
        [style.background-color]="getColor(slide.order)"
        (click)="setActiveSlide(i)"
      ></div>
    </div>
  </div>
  <div class="banner-image">
    <img
      *ngIf="slides[activeSlideIndex]"
      [src]="slides[activeSlideIndex].imgUrl"
      alt="Banner Image"
    />
  </div>
</div>
