<footer class="footer">
  <div class="footer__container">
    <!-- Company Logo and Description -->
    <div class="footer__brand">
      <div class="footer__logo">
        <img
          src="../../../assets/images/link-dev-logo1.png"
          alt="Link Development Logo"
        />
      </div>
      <p class="footer__description">
        We make technology produce productive, adaptable and sustainable
        business experiences.
      </p>
    </div>

    <!-- Navigation Links -->
    <div class="footer__links">
      <div class="footer__section">
        <h3>Company</h3>
        <a href="#">About</a>
        <a href="#">Careers</a>
        <a href="#">Mobile</a>
      </div>
      <div class="footer__section">
        <h3>Contact</h3>
        <a href="#">Help/FAQ</a>
        <a href="#">Press</a>
        <a href="#">Affiliates</a>
      </div>
      <div class="footer__section">
        <h3>Media</h3>
        <a href="#">News</a>
        <a href="#">Photo</a>
        <a href="#">Video</a>
      </div>
    </div>

    <!-- Social Media Icons and App Store Links -->
    <div class="footer__social">
      <div class="footer__icons">
        <a href="#"><i class="fa-brands fa-facebook"></i> </a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
      </div>
      <h4>Discover our app</h4>
      <div class="footer__app-links">
        <a href="#" class="app-link google-play">
          <img
            src="../../../assets/images/Google-play-icon.png"
            alt="Google Play"
          />
          <span class="text">GET IT <br /><strong>Google Play</strong></span>
        </a>
        <a href="#" class="app-link apple-store">
          <i class="fa-brands fa-apple"></i>
          <span class="text"
            >Available on <br /><strong>Apple Store</strong></span
          >
        </a>
      </div>
    </div>
  </div>

  <!-- Copyright -->
  <div class="footer__copyright">
    <p>All rights reserved &#64; Linkdevelopment.com</p>
  </div>
</footer>
